/*header css*/
#header{
	width:100%;
	height:60px;
	line-height: 60px;
	background: #fff;
	position: fixed;
	z-index: 99999;
}
#header .leftPart .router-link-active .leftItems{
	color: #6ED56C;
}
#header .rightPart .router-link-active .rightItems{
	color: #6ED56C;
}
#header .rightPart .router-link-active .rightItems img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
#header .leftPart .leftItems{
	width:100px;
	height:60px;
	text-align: center;
	cursor: pointer;
	font-size:16px;
	color:#666;
}
#header .rightPart .search{
	margin-right:30px;
}
#header .rightPart .search input{
	border-radius: 25px;
	height: 30px;
}
#header .rightPart .rightItems{
	width:60px;
	height:60px;
	text-align: center;
	cursor: pointer;
	font-size:16px;
	color:#666;
}
#header .logoImg{
	width:60px;
	height:60px;
	margin:auto;
}
#header .logoImg img{
	width:100%;
}

/*body css*/
.main_body{
	padding-top: 60px;
	width:1200px;margin:auto;
}
.l{
	float: left;
}
/*滚动条*/
::-webkit-scrollbar{width: 10px;position: absolute;right: 0px;top: 0px;z-index: 9999;}
::-webkit-scrollbar-track{background-color:#E0E0E0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;}
::-webkit-scrollbar-thumb{background-color:#868686;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;}

@media screen and (min-width: 320px) {
    html {
        font-size: 12px;
    }
}
 
@media screen and (min-width: 360px) {
    html {
        font-size: 16px;
    }
}
 
@media screen and (min-width: 400px) {
    html {
        font-size: 20px;
    }
}
 
@media screen and (min-width: 440px) {
    html {
        font-size: 24px;
    }
}
 
@media screen and (min-width: 480px) {
    html {
        font-size: 28px;
    }
}

/**
 * 2016-01-13 订正
 * 做适当限制
 * 大于640的屏幕 固定为100px
 * 同时需要对body或者最外层wrapper做max-width: 640px的限制
 */
/*
@media screen and (min-width: 640px) {
    html {
        font-size: 100px;
    }
}
*/
html {
    font-size: 4vw;
}


@media screen and (min-width: 640px) {
    html {
        font-size: 32px;
    }
}